:root {
  --pink-color: #FF00CC;
  --white-color: white;
}

body {
  font-family: 'Lato', 'sans-serif';
  font-size: 16px;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', sans-serif;
  margin-top: 0;
}

.display-1 {
  padding: 25%;
}

.hero-section {
  background: linear-gradient(to right, #333399, #ff00cc);
  background-image: linear-gradient(to right, rgb(51, 51, 153), rgb(255, 0, 204));
  height: 100%;
  position: relative;
}

.roxy-brand-logo {
  color: var(--white-color);
  font-size: 2em;
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  font-size: 28px;
}

.roxy-logo {
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 9rem;
  margin-top: 0;
  font-weight: bold;
  width: fit-content;
  border: 15px solid #fff;
  padding: 30px;
  line-height: .9;
  font-weight: bold;
}


.nav-link {
  color: var(--white-color);
}

.nav-burger {
  color: white;
  font-size: 2em;
}

.features-section {
  margin: 5%;
}

.feature-section-title {
  padding: 2%;
}

.feature-section-paragraph {
  padding-bottom: 3%;
}

.gettemplates-heading {
  color: var(--pink-color);
  font-size: 1em;
}

.image-round {
  justify-content: center;
}

.testimonial-quotation {
  columns: var(--pink-color);
}

.banner-1-section {
  background-image: linear-gradient(to right, rgb(51, 51, 153), rgb(255, 0, 204));
  width: 100vw;
  height: 100%;
  color: var(--white-color);
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.testi-icon {
  color: var(--pink-color);
}

.testi-img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.testimonial-element {
  padding-bottom: 2%;
}

.testimonials-section {
  height: 100%;
  padding: 10%;
  margin-bottom: 10%;
  background-image: url("/assets/bg-white.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5%;
}

.banner-2-section {
  background-image: linear-gradient(to right, rgb(51, 51, 153), rgb(255, 0, 204));
  width: 100vw;
  height: 100%;
  color: var(--white-color);
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.section-3 {
  height: 100%;
  padding: 5%;
  /* background-color: rgb(202, 55, 79);
   */
  background-image: linear-gradient(to right, rgb(51, 51, 153), rgb(255, 0, 204));
  ;
  color: var(--white-color);
}

.section-3-image {
  bottom: 0;
  right: 0;
  max-width: 100%;
  height: auto;
  width: auto;
}

.section-3-all-text {
  padding-top: 2%;
  padding-bottom: 2%;
}

.section-4 {
  height: 100%;
  padding: 5%;
  margin-bottom: 5%;
}

.section-4-image {
  bottom: 0;
  right: 0;
  max-width: 100%;
  height: auto;
  width: auto;
}

.contact-us {
  padding-top: 10%;
  padding-bottom: 10%;
}

.footer {
  display: inline-flex;
  width: 100%;
  margin-top: 4%;
  height: 10vh;
  padding-left: 40%;
}

.footer-icons-container {
  display: inline-flex;
  color: var(--pink-color);
  padding: 1%;
  column-gap: 10px;
  justify-content: center;
  width: 100%;
}

.footer-container {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.footer-paragraph {
  text-align: center;
  display: inline;
  width: 100%;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 700px) {
  .footer {
    display: inline;
    width: 100%;
    margin-top: 4%;
    height: 10vh;
    /* padding-left: 30%; */
    padding-left: 0%;
  }

  .footer-icons-container {
    display: inline-flex;
    color: var(--pink-color);
    padding: 1%;
    column-gap: 5px;
    justify-content: center;
    width: 100%;
  }

  .footer-container {
    margin-top: 10px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
  }

}

.work_with_us {
  text-align: center;
}

.awesome-works-paragraph {
  white-space: pre-wrap;
  overflow: scroll;
}

.awesome-text-2 {
  text-align: center;
  color: var(--pink-color);
}

.navbar-toggle .icon-bar {
  color: var(--white-color);
}

.navl {
  color: var(--white-color);
  font-family: 'Lato', 'sans-serif';
}

.lnr-menu {
  font-size: 3em;
}


.awesome-paragraph {
  text-align: center;
  font-size: 16px;
}


.awesome-works {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-us-bottom {
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn {
  width: 100%;
}


.section-3-button {
  cursor: pointer;
  border: 1px solid var(--white-color);
  background-color: transparent;
  height: 50px;
  width: 150px;
  color: var(--white-color);
  font-size: 1em;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  padding: 9px 25px;
  text-transform: capitalize;
}

.features-button {
  cursor: pointer;
  border: 1px solid var(--white-color);
  background-color: transparent;
  height: 50px;
  width: 150px;
  color: var(--white-color);
  font-size: 1em;
  border-radius: 12px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  padding: 9px 25px;
  text-transform: capitalize;
}

.progress-bar {
  background-color: var(--pink-color);
  color: white;
}


/* .koolr-logo {
  background-image: url("/assets/client.png");
  width: 100%;
  height: 10vh;
  background-repeat: repeat-x;
  margin-top: 10%;
} */



@media screen and (max-width: 700px) {
  .koolr-logo {
    background-image: url("/assets/client.png");
    width: 100%;
    height: 10vh;
    background-repeat: no-repeat;
    margin-top: 4%;
    justify-content: center;
    background-position: center;
  }
}

@media (max-width: 700px) {
  .roxy-logo {
    font-weight: bold;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 96px;
    margin-top: 0;
  }
}

.second-icons-set {
  display: inline-flex;
}


.purchase-now {
  color: var(--pink-color);
  display: contents;
}


@media (max-width: 700px) {
  .koolr-row .col:not(:first-child) {
    display: none;
  }
}

.koolr-row {
  margin-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
}


.footer-getTemplates {
  color: var(--pink-color);
}


.roxy-container {
  padding: 25%;
}


.navbar {
  padding-top: 30px;
}


.triangle-1 {
  size: 20px;
  position: absolute;
  rotate: 45;
}
